.FeedBack {
    width: 100%;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin: 5px 0px;
  }
  
  .FeedBack.failure {
    background-color: rgb(255, 182, 182);
    color: rgb(255, 58, 58);
  }
  
  .FeedBack.success {
    background-color: rgb(143, 211, 238);
    color: white;
  }