.pdv-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    left: 25px;
    top: 0px;
    box-shadow: 0 0 50px lightgrey;
    border-radius: 20px;
    background-color: white;
    width: 250px;
    padding: 25px;
    margin: 75px auto;
    z-index: 100;
    overflow-y: auto;
    max-height: 75vh;
  }
  
  .pdv-container .info {
    margin: 10px auto;
  }
  
  .pdv-container .info span {
    display: inline;
    margin: 5px 5px;
  }
  
  .pdv-container .user-info {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-pdvs: center;
  }
  
  .pdv-container .contact-information {
    text-align: center;
    margin-top: 20px;
    background: #f1f2ff;
    padding: 15px;
    border-radius: 10px;
    color: #5663ff;
    font-size: 14px;
    font-weight: 500;
  }
  
  .pdv-container .title {
    margin: 0;
    text-align: center;
    text-transform: capitalize;
  }
  
  .pdv-container,
  .location {
    margin: 1em 0;
  }

  .location{
    text-align: center;
    font-style: oblique;
  }

  .machine{
    text-align: center;
  }
  
  .pdv-container {
    background-color: rgb(226, 226, 226);
    padding: 10px;
    border-radius: 10px;
  }

  .pdv-container .close-link{
    color: white;
    text-align: center;
    background-color: rgb(219, 95, 95);
    padding:1px;
    width:17px;
    border-radius: 5px;
  }
  